<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE ZONE - Create Account</title>
    <link rel="stylesheet" href="/css/login_page.css">
</head>

<body>
    <section>
        <div class="container">
            <a href="/" class="header_logo">
                <h2 class="title_login">
                    <span>MOVIE</span>ZONE
                </h2>
            </a>

            <form class="register-form" action="/post-crud" method="post">
                <label for="username" class="input_title">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="email" class="input_title">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="password" class="input_title">Password</label>
                <input type="password" id="password" name="password" required>

                <button style="margin-top: 15px;" type="submit">Register</button>
            </form>

            <p class="create-account">Already have an account? <a href="/login_page">Log in</a></p>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">MOVIEZONE</div>
            <div class="footer-copyright">© MOVIEZONE, 2020–2025<br> Create by <span style="color: #ffbe00;">
                    ManhCuong</span></div>
            <div class="footer-links">
                <a href="#">About Us</a>
                <a href="#">Controls</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </footer>


</body>

</html>